<h1><%= @recipe.name %></h1>

<ul>
  <li>Instructions: <%= @recipe.instructions %></li>
  <li>Rating: <%= @recipe.rating %></li>
  <li>Date added: <%= @recipe.date %></li>
  <li>Tags:
    <ul>
      <% @recipe.tags.each do |tag| %>
        <li><a href="/tags/<%= tag.id %>"><%= tag.name %></a></li>
      <% end %>
    </ul>
  </li>
</ul>

<a href="/recipes/<%= @recipe.id %>/tags">Add a tag</a>

<a href="/recipes/<%= @recipe.id %>"
   data-confirm="You sure?"
   data-method="delete"
   rel="nofollow">Delete</a>

 <a href="/recipes/<%= @recipe.id %>/edit">Edit Recipe</a>
